
.mainLogo {
    padding-top: 10%;
    height: 250px;
}
.littleLogo {
    padding-top: 8%;
    height: 150px;
}


.registration_link {
    margin-top: 15px;
    display: block;
}

.registration_form {
    margin-top: 40px;
}


.main_header {
    background: #e5e4e1;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.header_siteName {
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
    padding-top: 10px;

}

.header_links {
    margin: 10px;
}

.header_one_link {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 40px;
    border: 25px;
}

.exit_link {
    font-size: 20px;
    float: right;
    margin-right: 20px;
}

.main_content_and_side_bar {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.main_content {
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    background: #e6f1ef;
}

.side_bar {
    background: #e6f1ef;
    border-radius: 10px;
    width: 20%;
    float: right;
    margin-left: 7px;
    text-align: center;
}

.leaders_table{
    display: block;

}

button {
    height: 38px;
    font-size: 17px;
    padding: 0 18px;

    border-radius: 100px;
    background: #a09da5;
    color: #efefef;
    cursor: pointer;
}

button:hover {
    background-color: #757373;
}

button:active {
    background-color: #d3d3d3;
}

button[disabled] {
    opacity: 0.48;
    pointer-events: none;
    user-select: none;
}

button.secondary {
    background: #c5c5c5;
}


input {
    height: 32px;
    font-size: 15px;
    padding: 0 10px;

    border-radius: 50px;
    border: none;
    outline: 0;

    box-shadow: 0 0 0 2px #FFFFFF,
    0 0 0 4px #c5c5c5;

    margin: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    border: 1px dotted #63476f;
    box-shadow: 0 0 0px 800px #edf8f6 inset,
    0 0 0px 4px #edf8f6;
}

input:focus,
button:focus,
a:focus {
    box-shadow: 0 0 0 2px #FFFFFF,
    0 0 0 4px #FBD1DC;
    outline: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.form_regist_signin {
    display: flex;
    flex-direction: column;
    width: 380px;

    box-shadow: 1px 2px 10px 0px #c5c5c5;
    padding: 12px 20px 20px;
}

form main {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

form main > * {
    margin-bottom: 20px;
}

form main > *:last-child {
    margin-bottom: 0;
}


form footer button:first-child {
    margin-right: 20px;
}

body, .page {
    height: 100vh;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    background-repeat: no-repeat;

    background-position-y: bottom;
}

.page .wrapper__form {
    background-color: #f9faf9;
    margin-top: 60px;
}

.page .footerInfo {
    margin-top: 250px;
}


.profile_avatar {
    height: 150px;
    width: 150px;
}

.profile_form {
    display: inline;
    align-self: center;
    width: 450px;

}